ExSoapConnector/SoapAPIConnector/Service References/ExiteSoapService/EdiServerImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://soap.edi.exite.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="EdiServerImplService" targetNamespace="http://soap.edi.exite.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EdiServerImplPortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true">
    </ns1:OptimizedMimeSerialization>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://ru-soap.edi.su/soap?xsd=1" namespace="http://soap.edi.exite.org/" />
    </xsd:schema>
  </types>
  <message name="getDoc">
    <part name="parameters" element="tns:getDoc" />
  </message>
  <message name="getDocResponse">
    <part name="parameters" element="tns:getDocResponse" />
  </message>
  <message name="getList">
    <part name="parameters" element="tns:getList" />
  </message>
  <message name="getListResponse">
    <part name="parameters" element="tns:getListResponse" />
  </message>
  <message name="sendDoc">
    <part name="parameters" element="tns:sendDoc" />
  </message>
  <message name="sendDocResponse">
    <part name="parameters" element="tns:sendDocResponse" />
  </message>
  <message name="archiveDoc">
    <part name="parameters" element="tns:archiveDoc" />
  </message>
  <message name="archiveDocResponse">
    <part name="parameters" element="tns:archiveDocResponse" />
  </message>
  <portType name="EdiServer">
    <operation name="getDoc">
      <input wsam:Action="http://soap.edi.exite.org/EdiServer/getDocRequest" message="tns:getDoc" />
      <output wsam:Action="http://soap.edi.exite.org/EdiServer/getDocResponse" message="tns:getDocResponse" />
    </operation>
    <operation name="getList">
      <input wsam:Action="http://soap.edi.exite.org/EdiServer/getListRequest" message="tns:getList" />
      <output wsam:Action="http://soap.edi.exite.org/EdiServer/getListResponse" message="tns:getListResponse" />
    </operation>
    <operation name="sendDoc">
      <input wsam:Action="http://soap.edi.exite.org/EdiServer/sendDocRequest" message="tns:sendDoc" />
      <output wsam:Action="http://soap.edi.exite.org/EdiServer/sendDocResponse" message="tns:sendDocResponse" />
    </operation>
    <operation name="archiveDoc">
      <input wsam:Action="http://soap.edi.exite.org/EdiServer/archiveDocRequest" message="tns:archiveDoc" />
      <output wsam:Action="http://soap.edi.exite.org/EdiServer/archiveDocResponse" message="tns:archiveDocResponse" />
    </operation>
  </portType>
  <binding name="EdiServerImplPortBinding" type="tns:EdiServer">
    <wsp:PolicyReference URI="#EdiServerImplPortBinding_MTOM_Policy">
    </wsp:PolicyReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getDoc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sendDoc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="archiveDoc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EdiServerImplService">
    <port name="EdiServerImplPort" binding="tns:EdiServerImplPortBinding">
      <soap:address location="https://ru-soap.edi.su/soap" />
    </port>
  </service>
</definitions>