ExSoapConnector/SoapAPIConnector/Service References/ExiteSoapService/soap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://soap.edi.exite.org/" targetNamespace="http://soap.edi.exite.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="archiveDoc" type="tns:archiveDoc" />
  <xs:element name="archiveDocResponse" type="tns:archiveDocResponse" />
  <xs:element name="getDoc" type="tns:getDoc" />
  <xs:element name="getDocResponse" type="tns:getDocResponse" />
  <xs:element name="getList" type="tns:getList" />
  <xs:element name="getListResponse" type="tns:getListResponse" />
  <xs:element name="sendDoc" type="tns:sendDoc" />
  <xs:element name="sendDocResponse" type="tns:sendDocResponse" />
  <xs:complexType name="getDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:ediLogin" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ediLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDocResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="tns:ediFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ediFile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ediResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="content" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ediResponse">
    <xs:sequence>
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:ediLogin" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendDocResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="tns:ediResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="archiveDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:ediLogin" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="archiveDocResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="tns:ediResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getList">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:ediLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="tns:ediFileList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ediFileList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ediResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>